VITE_SUPABASE_URL= 'https://stckxrujvofhpofaksen.supabase.co'
VITE_SUPABASE_ANON_KEY= 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN0Y2t4cnVqdm9maHBvZmFrc2VuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEzMTI2NzIsImV4cCI6MjA3Njg4ODY3Mn0.1fyDEMGhZSCkX0v61Ds-H3fZnID7QTygp77x5cibAQE'
